<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="">
      <%= link_to 'Back', recipes_path, class: 'btn btn-back' %>
    </div>
          <a href="/" class="avatar">
            <%= image_tag "https://res.cloudinary.com/du9ruv4nu/image/upload/v1701295547/logo_plan_eat_rqt7kp.png", class: "avatar", alt: "dropdown menu" %>
          </a>
  </div>
</div>
<div class="main-container">
  <h3 class="text-center">My shopping list</h3>
  <p>Check ingredients you bought. Was it bio, vrac, or local?</p>

<%= simple_form_for :user_ingredients, url: delete_user_ingredients_path, method: :post do |f| %>
  <div class="list-ingredients">
    <fieldset>
      <div class="legend">
        <%= image_tag "cart-logo.png", height: 30, width: 30, class:"item" %>
        <legend class="text-end pe-3 item">Bio Vrac Local</legend>
      </div>
      <% @user_ingredients.each do |user_ingredient| %>

        <div class="user-ingredient ingredient-li">
          <div class="item form-check-inline">
            <div class="form-check form-check-inline">
              <%= check_box_tag "user_ingredient[ingredient_ids][]", user_ingredient.id %>
            </div>

            <div class="ingredient-name form-check-inline">
              <%= user_ingredient.ingredient.name.capitalize %>
            </div>
          </div>
          <div class="item form-check-inline">
            <div class="form-check form-check-inline checkbox">
              <%= check_box_tag "category_bio#{user_ingredient.id}", "bio" %>
            </div>

            <div class="form-check form-check-inline checkbox">
              <%= check_box_tag "category_vrac#{user_ingredient.id}", "vrac" %>
            </div>

            <div class="form-check form-check-inline checkbox">
              <%= check_box_tag "category_local#{user_ingredient.id}", "local" %>
            </div>
          </div>
        </div>
      <% end %>
    </fieldset>
  </div>

  <%= f.input_field :_method, as: :hidden, value: 'delete' %>

  <%= f.button :submit, 'Submit your shopping list', id: 'btn-submit', class:'my-3' %>
<% end %>
</div>
