<div class="main-container">
  <h2><%= @recipe.name %></h2>
  <p>Ingredients</p>


  <div class="ingredients">
      <%= simple_form_for @user_ingredient, url: recipe_user_ingredients_path(@recipe), method: :post do |f| %>
    <% @ingredients.each do |ingredient| %>
      <div class="form-check">
        <%= check_box_tag "user_ingredient[ingredient_ids][]", ingredient.id, false, id: "ingredient_#{ingredient.id}" %>
        <%= f.label "ingredient_#{ingredient.id}", ingredient.name.capitalize, class:"form-checked-label"%>
      </div>
    <% end %>
    <%= f.button :submit, "Add to shopping list" %>
  <% end %>
  </div>

</div>
