<div class="row d-flex justify-content-center search_bar">
    <form class="d-flex col-md-6" role="search">
        <span type="submit" class="input-group-text search-btn" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search"
        %>
      <%# <button class="search-btn btn btn-success mx-3" ></button> %>
    </form>
  </div>
<div class="containerindex">
  <div class="cards">
    <div class="card1">
      <div class="card2">
      <% @categories.each do |category| %>
        <div class="card3">
          <% if category.photo.key? %>
          <%= cl_image_tag category.photo.key, height: 100, class: "category" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><strong><%= category.name %></strong></h5>
          </div>
            <%= link_to "See all recipes",recipes_index_path(category.name) , class: "nav-link" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Add your Recipe",new_recipe_path , class: "nav-link" %>
