<div class="containernew">

  <div class="text-center">
  <h1>Add a new Recipe</h1>
  </div>

  <div class="form-new-book py-4">
    <%= simple_form_for(@recipe) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :preparation %>
      <%= f.input :photo, as: :file %>
      <%= f.association :categories, as: :check_boxes, include_hidden: false %>

      <%= f.simple_fields_for :ingredients do |r| %>

        <%= render "recipes/ingredients_form", :f => r %>

      <% end %>

      <%# <%= link_to_add_association "Ingredient", f, :ingredients, %>
                                        <%# force_non_association_create: true %> %>

      <%= f.submit "Create", class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
