<h1>Hello <%= @user.name %></h1>

<%= link_to "Create a recipe", new_recipe_path %>

<div class="containerindex">
  <div class="cards">
    <div class="card2">
      <% @recipes.each do |recipe| %>
      <div class="card3">
          <% if recipe.photo.key? %>
          <%= cl_image_tag recipe.photo.key, height: 100, class: "category" %>
          <% else %>
          <%= image_tag "https://res.cloudinary.com/du9ruv4nu/image/upload/v1701303120/recettes_vvohs6.jpg", height: 300, alt: "Le Wagon", class: "category" %>
          <% end %>
          <h2><%= recipe.name %></h2>
          <%= link_to "See recipe", recipe_path(recipe), class: "btn button-6" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
