<div class="main-container">
  <h2><%= @recipe.name %></h2>
  <p>Ingredients</p>

  <ul class="ingredients">
      <% @ingredients.each do |ingredient| %>
        <li class="ingredients p-2">
          <div>
            <input type="checkbox" name="my-checkbox" id="opt-in" />
            <label for="opt-in"><%= ingredient.quantity %>
              <%= ingredient.unit %>
              of <%= ingredient.name %></label>
          </div>
        </li>
      <% end %>
  </ul>
  <%= link_to "DONE", ingredients_list_path %>
</div>
