<div class="container">
  <h1 class="my-5 text-center">Edit your profile</h1>
  <div class="row">
    <div class="col-6">

      <% if current_user.photo.key? %>
        <%= cl_image_tag current_user.photo.key, class: "img-fluid", width: 500, alt: "dropdown menu"%>
      <% else %>
        <%= image_tag "none_image_user.png", class: "img-fluid" %>
      <% end %>

      <%# <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, class: "img-fluid" %>
    </div>
    <div class="col-6 ps-5">
      <%= simple_form_for(@user) do |f| %>

        <%= f.input :photo, as: :file %>
        <%= f.input :name %>
        <%= f.input :password,
                label: "New password",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                label: "Confirm your new password",
                input_html: { autocomplete: "new-password" } %>

        <%= f.submit "Edit your profile", class: "btn btn-secondary" %>
        <%= link_to "Cancel", user_path(current_user), class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
