<div class="container edit-page-profile mt-5">
  <h1 class="my-5 text-center">Edit your profile</h1>

  <div class="profile-image">
    <% if current_user.photo.key? %>
        <%= cl_image_tag current_user.photo.key, class: "profile-image-thumbnail", crop: :fill, alt: "dropdown menu"%>
    <% else %>
        <%= image_tag "none_image_user.png", class: "profile-image-thumbnail" %>
    <% end %>

    <%= simple_form_for(@user) do |f| %>

        <%= f.input :photo, as: :file %>
        <%= f.input :name %>
        <%= f.input :password,
                label: "New password",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                label: "Confirm your new password",
                input_html: { autocomplete: "new-password" } %>

        <%= f.submit "Save", class: "btn btn-profile" %>
        <%= link_to "Cancel", user_path(current_user), class: "btn btn-profile" %>
      <% end %>
  </div>

</div>
