<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="">
      <%= link_to 'Back', recipes_path, class: 'btn btn-back' %>
    </div>
          <a href="/" class="avatar">
            <%= image_tag "https://res.cloudinary.com/du9ruv4nu/image/upload/v1701295547/logo_plan_eat_rqt7kp.png", class: "avatar", alt: "dropdown menu" %>
          </a>
  </div>
</div>
<div class="main-container mt-5 pb-5">
  <div class="profile-image">
    <% if current_user.photo.key? %>
        <%= cl_image_tag current_user.photo.key, class: "profile-image-thumbnail",width: 100, heigth: 100, alt: "dropdown menu"%>
    <% else %>
        <%= image_tag "none_image_user.png", class: "profile-image-thumbnail" %>
    <% end %>
    <h2><strong><%= current_user.name %></strong></h2>

  </div>
  <div class="profile-infos">
    <div class="infos-planning-count">
      <h4><strong>Planning counts</strong></h4>
      <h5><strong><%= current_user.plannings.count %> plannings</strong></h5>
    </div>


  </div>
  <div class="total-point">
    <div class="infos-points">
      <h2>Total points</h2>

        <p><%= current_user.points %></p>

    </div>

    <div class="badge-count">
      <h2>Badge Count</h2>
      <%= image_tag "badge_image.png", class: "img-fluid", crop: :fill %>

    </div>
  </div>
  <div class="button-profile">
      <%= link_to "Edit", edit_user_path(current_user),
      class: "btn btn-profile m-2" %>

      <%= link_to "Log out",
      destroy_user_session_path,
      data: {turbo_method: :delete},
      class: "btn btn-profile m-2" %>
  </div>

</div>
