<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="">
      <%= link_to 'Back', recipes_path, class: 'btn btn-back' %>
    </div>
          <a href="/" class="avatar">
            <%= image_tag "https://res.cloudinary.com/du9ruv4nu/image/upload/v1701295547/logo_plan_eat_rqt7kp.png", class: "avatar", alt: "dropdown menu" %>
          </a>
  </div>
</div>
<div class="main-container list-plannings">
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Sélectionnez l'élément d'alerte Bootstrap
      const myAlert = document.getElementById('myAlert');

      // Définissez le délai en millisecondes (par exemple, 3000 pour 3 secondes)
      const delay = 3000;

      // Utilisez setTimeout pour masquer l'alerte après le délai spécifié
      setTimeout(function () {
        myAlert.style.display = 'none';
      }, delay);
    });

  </script>
    <div id="myAlert" class="alert alert-success alert-dismissible fade show" role="alert">
      <%= image_tag "si_Check_circle.png", class: "img-alert" %>
        <% if flash[:notice] %>
          <div class="notice">
            <%= flash.now[:notice] %>
          </div>
        <% end %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <h2 class="title-all-planning mb-2">All plannings</h2>
  <% @plannings.each do |planning| %>
    <div class="list-planning row">
      <div class="left col-7">
          <div class="date-list-planning">
            <span class="day-date-list-planning"><%= planning.date.strftime('%A') %></span> <span class="year-date-list-planning"><%= planning.date %></span>
          </div>
          <%= link_to "#{planning.recipe.name}", recipe_path(planning.recipe), class: "recipe-name-list-planning" %>

        <div class="btn-list-plannings">
          <%= link_to "Add to Shopping List",  new_recipe_user_ingredient_path(planning.recipe), class: "btn btn-list-planning" %>
          <%# # <%= link_to "Edit", planning_path(planning) %>

        </div>
      </div>
      <div class="right col-5">
        <% if planning.recipe.photo.key? %>
          <%= cl_image_tag planning.recipe.photo.key, height: 100, class: "img-fluid" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/du9ruv4nu/image/upload/v1701303120/recettes_vvohs6.jpg", alt: "Le Wagon", class: "img-fluid" %>
        <% end %>
        <% if planning.user == current_user %>
          <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, planning_path(planning), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-delete-list-planning" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
