<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="">
      <%= link_to 'Back', recipe_path(@recipe.id), class: 'btn btn-back' %>
    </div>
          <a href="/" class="avatar">
            <%= image_tag "https://res.cloudinary.com/du9ruv4nu/image/upload/v1701295547/logo_plan_eat_rqt7kp.png", class: "avatar", alt: "dropdown menu" %>
          </a>
  </div>
</div>

<div class="container container-calendar" data-user-id="24" >
  <div data-controller="calendar" data-calendar-recipe-id-value="<%= @recipe.id %>" data-calendar-user-id-value="<%= current_user.id %>">
    <div class="d-flex justify-content-center mt-5">
      <%= image_tag "small_image_calendar.png", alt: "Petit icone d'un calendrier" %>
    </div>
    <%# <%= simple_form_for [@recipe, @planning] do |f| %>
      <%# <%= f.input :date %>
      <%# <%= f.submit "Create", class: "btn btn-create-planning button-6 my-3" %>
    <%# <% end %>
    <div id="calendar"></div>
  </div>

</div>
